div {
    border: 1px solid black;
    box-sizing: border-box;

}


/* 문제 1 */
.container-1 {
    /* 가장 바깥쪽 부모 */
    display: flex;

    width: 800px;
    height: 500px;
flex-direction: column;


}


.header-1, .footer-1 {
    background-color: gray;
    flex-basis: 20%;
}


.body-1 {
    /* body-item-1,2,3 의 부모이면서 
    container-1의 자식 */
    flex-basis: 60%;

display: flex; /*부모 전용 속성*/
flex-direction: row;

}


.body-item-1{
    background-color: skyblue;
    flex-basis: 30%;
}
.body-item-2{

background-color: tomato;
flex-basis: 50%;
}

.body-item-3 {
    background-color: blanchedalmond;
    flex-basis: 20%;
}
/* 
.body-1 > div:nth-of-type(3) {
    background-color: antiquewhite;
    flex-basis: 20%;
}
 */


/* 문2 */

.container-2 {
    display: flex;

    width: 800px;
    height: 500px;
flex-direction: column;
}

.header2 {
    background-color: red;
    flex-basis: 20%;
}
.body2 {
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
}
.body2-item-1 { 
    background-color:blue;
    flex-basis: 30%;

}
.body2-item-2{
    background-color: skyblue;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;

}
.body2-item-2-2 {
    
    flex-basis: 80%;
    background-color: aqua;
}


/* 문3 */

.container-3 {
    display: flex;

    width: 800px;
    height: 500px;
flex-direction: column;
}

.header3 {
    background-color: red;
    flex-basis: 20%;
}
.body3 {
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
}
.body3-item-1 { 
    background-color:blue;
    flex-basis: 30%;

}
.body3-item-2{
    background-color: skyblue;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;

}
.body3-item-2-1 {
    
    flex-basis: 80%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}

.body3-item-2-1-1 {
    
    flex-basis: 70%;
    background-color: yellow;
}




/* 문4 */



.container-4 {
    /* 가장 바깥쪽 부모 */
    display: flex;

    width: 800px;
    height: 500px;
flex-direction: column;


}


.header4, .footer4 {
    background-color: green;
    flex-basis: 20%;
}


.body4 {
    /* body-item-1,2,3 의 부모이면서 
    container-1의 자식 */
    flex-basis: 60%;

display: flex; /*부모 전용 속성*/
flex-direction: row;

}

.body4-item-1 {
    background-color: aqua;
    flex-basis: 30%;
}

.body4-item-2{

background-color: tomato;
flex-basis: 70%;
display: flex;
justify-content: space-between;
align-items: flex-end;


}

.x1 {
    width: 100px;
    height: 100px;
    background-color: red;
}
.x2 {
    width: 100px;
    height: 100px;
    background-color: red;
}
.x3 {
    width: 100px;
    height: 100px;
    background-color: red;
}
























.container-5 {
        display: flex;

    width: 800px;
    height: 500px;
flex-direction: column;
}

.header5 { 

background-color: yellow;
    flex-basis: 30%;
    display: flex; /*부모 전용 속성*/
flex-direction: row;
}


.body5 {

    background-color: pink;
    flex-basis: 80%;
    display: flex; /*부모 전용 속성*/
    flex-direction: row;
}


.i1 {
    flex-basis: 15%;
    
} 
.i2 {
    flex-basis: 35%;
} 
.i3 {
    flex-basis: 50%;
} 

.ii1 {
    flex-basis: 25%;
    display: flex; /*부모 전용 속성*/
    flex-direction: column;
    background-color: aqua;
}

.ii2 {
    flex-basis: 15%;
}
.ii3 {
    flex-basis: 40%; 
    display: flex;
    flex-direction: column;
    
}
.dd1{
    flex-basis: 50%;
    background-color: orange;
}

.dd2 {
    flex-basis: 50%;
    background-color: red;
    display: flex;
    flex-direction: row;
}

.ddd1 {
    flex-basis: 50%;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.dddd1 {
    flex-basis: 50%;
    background-color: green;
}
.dddd2 {
    flex-basis: 50%;
    background-color: green;
}

.ddd2 {
    flex-basis: 50%;
    background-color: red;
    
}


.ii4 {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}


.dd3 {
    flex-basis: 25%;
}
.dd4 {
    flex-basis: 50%;
}
.dd5{
    flex-basis: 25%
}





.d1 {
    flex-basis: 33%;
}
.d2{
    flex-basis: 33%;
}
.d3 {
    flex-basis: 34%;
}

